<section class="container" data-ng-controller="ProjectsController" data-ng-init="findOne()">
    <h1>Edit Project</h1>
    <form data-ng-submit="update()" novalidate>
        <div class="container">
            <div class="form-group">
                <label for="inputProjectName">Project Name</label>
                <input type="text" id="inputProjectName" class="form-control" data-ng-model="project.projectName" placeholder="Nome do Projeto" required>
            </div>
            <div class="form-group">
                <label for="inputTasks">Tasks</label>
                <input type="text" class="form-control" id="inputTasks" data-ng-model="project.tasks" placeholder="Tasks">
            </div>
            <div class="form-group">
                <label for="inputContributors">Contributors</label>
                <input type="text" class="form-control" id="inputContributors" data-ng-model="project.contributors" placeholder="Contributors">
            </div>
        </div>
        <div class="container">
            <input type="submit" class="btn btn-info pull-right" value="Update">
        </div>
        <div class="container" data-ng-show="error">
            <strong data-ng-bind="error"></strong>
        </div>
    </form>
</section>