<section id="login-user" data-ng-controller="UsersController">
    <div class="container">
        <form data-ng-submit="login()">
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="text" class="form-control" id="inputEmail" placeholder="Email" data-ng-model="email">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="text" class="form-control" id="inputPassword" placeholder="Password" data-ng-model="password">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-info pull-right" value="Login">
            </div>
            <div class="container" data-ng-show="error">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
</section>